.header-logo {
  padding: 10px;
  height: 60px;
}

.qr-image, .qr-logo, .history-logo {
  width: 300px;
}

.hero-image {
  width: 500px;
}
.App {
  background-color: aqua;
  color: rgb(0, 157, 255);
}

.hero-section {
  margin-top: 150px;
}

.white {
  background: white;
}

.dropzone {
  border: 1px dotted black;
  padding: 25px;
  cursor: pointer;
}

.boxed {
  padding: 20px;
  border-radius: 5px;
}

.history-logo, .qr-logo {
  clear: both;
  margin-top: 50px;
  margin-bottom: 25px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 80vh;
  margin-top: 60px;
}

.ant-input-affix-wrapper {
  max-width: 600px;
  margin-top:10px;
  margin-bottom: 10px;

}

.web3-button {
  /* margin-top: 12px;; */
}

.activity-score {
  margin-left: 20px;
  font-size: 24px;
  margin-bottom: 20px
}

.ens-name {
  padding: 5px;
}

.success-text {
  color: green;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.upload-image {
  width: 250px;
  margin: 10px;
}

.home-logo {
  width: 200px;
  margin-bottom: 15px;
}

.error-text {
  color: red;
}

.create-form label {
  font-size: 14px;
  font-weight: 500;
}

.hero-slogan-section {
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 25px;
}

.hero-slogan {
  font-size: 28px;
}

.vertical-margin,
.standard-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.ant-input,
input,
textarea {
  max-width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-input {
  /* margin-top: 0px !important; */
  /* margin-bottom: 10px; */
}
.research-page .ant-input-affix-wrapper span {
  padding-top: 10px;
}

.header-logo {
  height: 40px;
}

.ant-layout-header {
  background: white;
}



.ant-card-head {
  background: #eee !important;
}

.ant-layout-sider {
  background: white !important;
}

.profile-page .ant-card-head {
  /* background: white !important */
}

.about-logo {
  width: 200px;
}

.pointer {
  cursor: pointer;
}

.home-section {
  padding-top: 60px;
}

.standard-btn {
  /* padding: 10px; */
  margin-bottom: 10px;
  margin-top: 10px;
}

.prompt-section {
  font-size: 32px;
  margin-right: 24px;
  margin-bottom: 25px;
}

.home-section {
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.ant-layout-header {
  background: white !important;
}
